<div class="container">
    <h1>Home</h1>
    <h2>Web Development Blog Posts</h2>
    {{#if post}}
    <ul class="list-group">
        {{#each post}}
        <li class="list-group-item">
            <a href="/post/{{id}}">
                <h3>{{title}}</h3>
            </a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No posts found.</p>
    {{/if}}
</div>