<h1>Home</h1>
<div class="container">
    <h2>Web Development Blog Posts</h2>
    {{#if posts}}
    <ul class="list-group">
        {{#each posts}}
        <li class="list-group-item">
            {{title}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No posts found.</p>
    {{/if}}
</div>