{{#extend "main"}}

{{#contentFor "title"}}Home{{/contentFor}}
{{#contentFor "content"}}
<div class="container">
    <h2>Home</h2>
    {{#if posts}}
    <ul class="list-group">
        {{#each posts}}
        <li class="list-group-item">
            {{title}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No posts found.</p>
    {{/if}}
</div>
{{/contentFor}}
{{/extend}}