<form class="form login-form form-group" action="/login" method="POST">
    <input class="form-input" type="text" name="username" placeholder="Username">
    <input class="form-input" type="password" name="password" placeholder="Password">
    <button class="btn btn-primary" type="submit">Login</button>
</form>
<a class="link-body-emphasis" href="/signup">Don't have an account? Sign up here</a>