<form class="form login-form form-group" action="/signup" method="POST">
    <input class="form-input" type="text" name="username" placeholder="Username">
    <input class="form-input" type="password" name="password" placeholder="Password">
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
<a class="link-body-emphasis" href="/login">Already have an account? Login here</a>